<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" metadata-complete="false" version="4.0">
  <display-name>WISH</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>profileServlet</display-name>
    <servlet-name>profileServlet</servlet-name>
    <servlet-class>open.profileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileServlet</servlet-name>
    <url-pattern>/profileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLoginServlet</display-name>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>admin.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>open.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcomeServlet</display-name>
    <servlet-name>welcomeServlet</servlet-name>
    <servlet-class>open.welcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcomeServlet</servlet-name>
    <url-pattern>/welcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeServlet</display-name>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>open.homeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>essayOpServlet</display-name>
    <servlet-name>essayOpServlet</servlet-name>
    <servlet-class>open.essayOpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>essayOpServlet</servlet-name>
    <url-pattern>/essayOpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addListServlet</display-name>
    <servlet-name>addListServlet</servlet-name>
    <servlet-class>open.addListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addListServlet</servlet-name>
    <url-pattern>/addListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>likeServlet</display-name>
    <servlet-name>likeServlet</servlet-name>
    <servlet-class>open.likeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likeServlet</servlet-name>
    <url-pattern>/likeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listServlet</display-name>
    <servlet-name>listServlet</servlet-name>
    <servlet-class>open.listServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listServlet</servlet-name>
    <url-pattern>/listServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>open.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hotServlet</display-name>
    <servlet-name>hotServlet</servlet-name>
    <servlet-class>open.hotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotServlet</servlet-name>
    <url-pattern>/hotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usermServlet</display-name>
    <servlet-name>usermServlet</servlet-name>
    <servlet-class>admin.usermServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usermServlet</servlet-name>
    <url-pattern>/usermServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newsmServlet</display-name>
    <servlet-name>newsmServlet</servlet-name>
    <servlet-class>admin.newsmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsmServlet</servlet-name>
    <url-pattern>/newsmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminmServlet</display-name>
    <servlet-name>adminmServlet</servlet-name>
    <servlet-class>admin.adminmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminmServlet</servlet-name>
    <url-pattern>/adminmServlet</url-pattern>
  </servlet-mapping>
</web-app>